.hide-modal{
   display: none !important;
}

.modal-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-dialog{
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: start;
}
input{
    margin-bottom: 10px;
    padding: 8px;
    background-color: var(--input-bg);
    border: 1px solid var(--input-border);
    color: black;
    border-radius: 4px;
}
span, label{
    font-size: 14px;
    color: var(--text-primary);
}